@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Custom owner */
  --color-dark-green: var(--title-color);
  --color-dark-green: var(--title-color);
  --color-strong-green: var(--strong-green-color);
  --color-green: var(--main-color);
  --color-meduim-green: var(--finished-color);
  --color-light-green: var(--subtitle-color);
  --color-lighters-green: var(--description-color);
  --color-lighter-green: var(--description-color);
  --color-verylight-green: var(--finished-bg);
  --color-lightest-green: var(--light-green-custome-background);
  --color-green: var(--main-color);
  --color-meduim-green: var(--finished-color);
  --color-light-green: var(--subtitle-color);
  --color-lighter-green: var(--description-color);
  --color-verylight-green: var(--finished-bg);
  --color-lightest-green: var(--light-green-custome-background);
  --color-brown: var(--brown-custome-color);
  --color-light-brown: var(--light-brown-background);
  --color-lighter-brown: var(--lighter-brown-background);
  --color-orange: var(--upcoming-color);
  --color-light-orange: var(--upcoming-bg);
  --color-dark-blue: var(--event-type-bg);
  --color-blue: var(--ongoing-color);
  --color-lighter-blue: var(--ongoing-bg);
  --color-darker-gray: var(--status-volunteer-color);
  --color-dark-gray: var(--cancel-color);
  --color-hight-gray: var(--placeholder-color);
  --color-strong-gray: var(--strong-gray-color);
  --color-meduim-gray: var(--cancel-bg);
  --color-light-gray: var(--light-gray-color);
  --color-meduim-white: var(--dropdown-bg);
  --color-light-white: var(--stroke-color);
  --color-lighter-white: var(--bg-input-color);
  --color-lightes-white: var(--stroke-custome-color);
  --color-strong-red: var(--strong-red-color);
  --color-red: var(--red-custome-color);
  --color-meduim-white: var(--dropdown-bg);
  --color-light-white: var(--stroke-color);
  --color-lighter-white: var(--bg-input-color);
  --color-lightes-white: var(--stroke-custome-color);
  --color-strong-red: var(--strong-red-color);
  --color-red: var(--red-custome-color);
  --color-strong-yellow: var(--strong-yellow-color);
  --color-light-yellow: var(--light-yellow-color);
  --color-strong-orange: var(--strong-orange-color);
  --color-light-orange: var(--light-orange-color);
  --color-footer: var(--footer-color);
  --color-footer: var(--footer-color);
  --color-light-strok: var(--strok-color);
  --color-line-table: var(--line-table-color);
  --color-gray-label: var(--lable-input-color);

  /* font size */
  --text-label: var(--text-label-input);
  --text-sub-info: var(--text-sub-info);

  /* Air Quality */
  --color-air-lighter-yellow: var(--level-bg-lighter-yellow-color);
  --color-air-yellow: var(--level-text-strong-yellow-color);

  --color-air-lighter-orange: var(--level-bg-lighter-orange-color);
  --color-air-orange: var(--level-text-strong-orange-color);

  --color-air-lighter-green: var(--level-bg-lighter-green-color);
  --color-air-green: var(--level-text-strong-green-color);

  --color-air-lighter-red: var(--level-bg-lighter-red-color);
  --color-air-red: var(--level-text-strong-red-color);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 44%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;

  /* Custom owner */

  --main-color: oklch(0.5648 0.1427 153.56);
  --title-color: oklch(0.3394 0.0153 145.23);
  --subtitle-color: oklch(0.5708 0.0272 166.43);
  --description-color: oklch(0.6509 0.022 168.95);
  --strong-green-color: oklch(0.4569 0.116 153.67);
  --brown-custome-color: oklch(0.4575 0.0567 55.66);
  --light-green-custome-background: oklch(0.9775 0.0149 164.74);
  --light-brown-background: oklch(0.9914 0.0098 87.47);
  --lighter-brown-background: oklch(0.9516 0.0125 75.37);
  --upcoming-color: oklch(0.7675 0.1555 55.84);
  --upcoming-bg: oklch(0.9446 0.0357 61.95);
  --ongoing-color: oklch(0.491 0.093 242.79);
  --ongoing-bg: oklch(0.9517 0.0259 239.07);
  --finished-color: oklch(0.6427 0.1527 154.48);
  --finished-bg: oklch(0.976 0.0345 164.18);
  --cancel-color: oklch(0.5278 0 0);
  --cancel-bg:  oklch(0.6997 0.0261 259.82);
  --stroke-color: oklch(0.9038 0.0127 164.77);
  --dropdown-bg: oklch(0.9294 0.008 253.86);
  --event-type-bg: oklch(0.4097 0.0462 252.4);
  --stroke-custome-color: oklch(0.9038 0.0127 164.77);
  --red-custome-color: oklch(0.6512 0.2348 26.76);
  --status-volunteer-color: oklch(0.4284 0.0139 252.23);
  --strong-gray-color: oklch(0.6429 0.0227 254.97);
  --light-gray-color: oklch(0.9537 0.0052 247.88);
  --light-yellow-color: oklch(0.7869 0.1608 88.21);
  --strong-yellow-color: oklch(0.8417 0.172 88.38);
  --strong-orange-color: oklch(0.7052 0.1976 44.9);
  --light-orange-color: #oklch(0.8068 0.158557 70.9556);
  --strong-red-color: oklch(0.6238 0.2511 24.16);
  --bg-input-color: oklch(0.9612 0 0);
  --footer-color: oklch(0.246 0.033 259.66);
  --bg-input-color: oklch(0.9537 0.0052 247.88); 
  --strok-color: oklch(0.9038 0.0127 164.77);
  --line-table-color: oklch(0 0 0 / 12.55%)
  --lable-input-color: oklch(0.3624 0.0117 258.37);
 
  /* font-size */

  --text-label-input: 16px;
  --text-sub-info: 14px;
  

  /* Air-Quality */
  --level-bg-lighter-yellow-color: #FAF0CC;
  --level-text-strong-yellow-color: #f9c300;

  --level-bg-lighter-orange-color: #FFE2CF;
  --level-text-strong-orange-color: #FF6D10;

  --level-bg-lighter-green-color: #CDE8DB;
  --level-text-strong-green-color: #048D4C;

  --level-bg-lighter-red-color: #FECDD6;
  --level-text-strong-red-color: #FB0530;

  
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0); 
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 210 40% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.p-toast .p-toast-message .p-toast-icon-close {
  display: none !important;
}
.p-toast .p-toast-message {
  background-color: #ffffff !important;
  color: #333333 !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
